<div id="mainContainer" class="container">
    <div class="page-header">
        <img src="styles/images/news.png" style="max-width: 60px;float: left" alt="new articles">
        <h1 class="blue" style="padding-top: 20px;">New article</h1>
    </div>
    <div>
        <div class="row">
            <div class="col-md-8 col-xs-8" style="left: 16%;">
                <div class="row alert alert-danger fix-dialog-bottom"
                     ng-show="vm.Error">
                    <a href="" class="close" ng-click="vm.Error=false">&times;</a>
                    <p class="text-center">You can't leave empty</p>
                    <span></span>
                </div>
                <form id="form-post" ng-submit="vm.postArticle()" enctype="multipart/form-data" method="post" class="form-horizontal" role="form">

                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" ng-model="vm.title" required
                                   class="form-control" name="title" placeholder="Title article">
                            <div role="alert">
                              <span class="error" ng-show="form-post.title.$error.required">
                               Required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" ng-model="vm.nameAuthor" required
                                   class="form-control" name="nameAuthor" placeholder="Author name">
                            <div role="alert">
                              <span class="error" ng-show="form-post.nameAuthor.$error.required">
                               Required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" ng-model="vm.keyword" required
                                   class="form-control" name="keyword" placeholder="Keyword for article">
                            <div role="alert">
                              <span class="error" ng-show="form-post.keyword.$error.required">
                               Required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 no-padding">
                        <div class="col-md-6 no-padding">
                            <input class="inline-block btn btn-primary" type="file" name="file" ng-model="vm.file" data-rule-required="true" id="file"
                                   accept="application/pdf">
                            <div role="alert">
                              <span class="error" ng-show="form-post.file.$error.required">
                               Required!</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-danger" ng-click="vm.file = null" ng-show="vm.file">Remove</button>
                        </div>

                    </div>
                    <div class="form-group text-center col-md-12" style="margin-top: 20px">
                        <button type="submit" name="submit_author" class="btn btn-success">Save</button>
                    </div>
                </form>
               <!-- <form method="post" id="fromFileUpload" enctype="multipart/form-data"
                      ng-submit="vm.continueFileUpload()">
                    <div class="form-group">
                        <label class="control-label col-sm-4 col-xs-12" for="file">Please upload the file : <span class="required">*</span> </label>
                        <div class="col-xs-4 input-max controls ">
                            <input class="inline-block" type="file" name="file" ng-model="file" data-rule-required="true" id="file"
                                   accept="application/pdf">
                        </div>
                    </div>
                    <div class="box-header">
                        <div class="actions">
                            <button type="submit" class="btn btn-primary">
                                <i class="icon-arrow-right"></i> Continue
                            </button>
                        </div>
                    </div>
                </form>-->
            </div>
        </div>
    </div><!-- /row -->
</div>