<div id="mainContainer" class="container">
    <div class="page-header">
        <h1 class="blue">Tất cả bài viết</h1>
    </div>
    <div class="row alert alert-danger fix-dialog-bottom"
         ng-show="vm.msgError">
        <a href="" class="close" ng-click="vm.msgError=false">&times;</a>
        <p class="text-center">Bạn cần phải trả tiền nếu muốn xem hoặc tải về bài viết! </p>
        <span></span>
    </div>
    <div class="row alert alert-success fix-dialog-bottom"
         ng-show="vm.success">
        <a href="" class="close" ng-click="vm.success=false">&times;</a>
        <p class="text-center">Lưu thành công! </p>
        <span></span>
    </div>
    <div>
        <div class="panel panel-default issTable" ng-show="globals.currentUser.username !== 'admin'">
            <div class="table-responsive singleIssue" ng-show="globals.currentUser.userType !== 'PHAN BIEN'">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Tất cả tạp chí</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="article in vm.listArticle" class="col-md-12">
                        <td class="col-sm-9 detRow">
                            <p class="issDetails title" style="cursor:pointer">{{article.title}}</p>
                            <p class="issDetails editor">
                                <strong><i>Tác giả:</i></strong>&nbsp;{{article.nameAuthor}}<br></p>
                            <p class="issDetails editor">
                                <strong><i>Ngày tạo:</i></strong>&nbsp;{{article.lastModified | date:'yyyy-MM-dd HH:mm:ss Z'}}<br></p>
                            <p class="issDetails editor">Bài phản biện:
                                <a ng-click="vm.viewComment(article.id)" style="cursor:pointer">
                                    <span class="glyphicon glyphicon-comment"></span>
                                </a>
                            </p>
                        </td>

                        <td class="col-md-1">
                            <p>{{article.keyword}}</p>
                        </td>
                        <td class="col-md-1">
                            <a href="data/{{article.name}}" target="pdf-frame">
                                <img src="styles/images/icon_pdf.png">
                            </a>
                            <span class="filesize">[{{vm.convertedSize[article.id]}}]</span>
                        </td>
                        <td ng-show="globals.currentUser.userType === 'BIEN TAP VIEN'" class="col-md-1">
                            <button class="btn btn-primary" ng-click="vm.editArticle(article.id)">Đăng bài</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive singleIssue" ng-show="globals.currentUser.userType === 'PHAN BIEN'">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Tất cả tạp chí</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="article in vm.articleReviewer" class="col-md-12">
                        <td class="col-sm-9 detRow">
                            <p class="issDetails title" style="cursor:pointer">{{article.title}}</p>
                            <p class="issDetails editor">
                                <strong><i>Tác giả:</i></strong>&nbsp;{{article.nameAuthor}}<br></p>
                            <p class="issDetails editor">
                                <strong><i>Ngày tạo:</i></strong>&nbsp;{{article.lastModified | date:'yyyy-MM-dd HH:mm:ss Z'}}<br></p>
                            <p class="issDetails editor">Bài phản biện:
                                <a ng-click="vm.viewComment(article.id)" style="cursor:pointer">
                                    <span class="glyphicon glyphicon-comment"></span>
                                </a>
                            </p>
                        </td>

                        <td class="col-md-1">
                            <p>{{article.keyword}}</p>
                        </td>
                        <td class="col-md-1">
                            <a href="data/{{article.name}}" target="pdf-frame">
                                <img src="styles/images/icon_pdf.png">
                            </a>
                            <span class="filesize">[{{vm.convertedSize[article.id]}}]</span>
                        </td>
                        <td class="col-md-1">
                            <button type="button" class="btn btn-info" data-toggle="modal" ng-click="vm.commentArticle(article)">
                                Phản biện
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default issTable" ng-show="globals.currentUser.username === 'admin'">
            <div class="table-responsive singleIssue">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tất cả tạp chí</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="article in vm.allArticle" class="col-md-12">
                        <td class="col-sm-7 detRow">
                            <p class="issDetails title" style="cursor:pointer">{{article.title}}</p>
                            <p class="issDetails editor">
                                <strong><i>Tác giả:</i></strong>&nbsp;{{article.nameAuthor}}<br></p>
                            <p class="issDetails editor">
                                <strong><i>Ngày tạo:</i></strong>&nbsp;{{article.lastModified | date:'yyyy-MM-dd HH:mm:ss Z'}}<br></p>
                            <p class="issDetails editor">Bài phản biện:
                                <a ng-click="vm.viewComment(article.id)" style="cursor:pointer">
                                    <span class="glyphicon glyphicon-comment"></span>
                                </a>
                            </p>
                        </td>

                        <td class="col-md-1">
                            <p>{{article.keyword}}</p>
                        </td>
                        <td class="col-md-1"  ng-show="globals">
                            <a href="" ng-click="vm.viewPDF(article.name)">
                                <img src="styles/images/icon_pdf.png">
                            </a>
                            <span class="filesize">[{{vm.convertedSize[article.id]}}]</span>
                        </td>
                        <td ng-show="globals.currentUser.username === 'admin'" class="col-md-3">
                            <button class="btn btn-primary" ng-click="vm.editArticle(article.id)">Chỉnh sửa</button>
                            <button class="btn btn-danger" ng-click="vm.deleteArticle(article.id)">Xóa</button>
                            <button class="btn btn-primary" ng-click="vm.sendEmail(article)">Gửi email</button>
                            <div class="col-md-12">
                                <label for="repeatSelect{{article.id}}"> Người xem: </label>
                                <select name="repeatSelect" class="form-control" style="margin-top: 5px" id="repeatSelect{{article.id}}"
                                    ng-model="vm.reviewerSelect[article.id]">
                                    <option ng-repeat="option in vm.reviewer">{{option.username}}</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label for="acceptSelect{{article.id}}"> Chấp nhận: </label>
                                <select name="acceptSelect" class="form-control" style="margin-top: 5px" id="acceptSelect{{article.id}}"
                                        ng-model="vm.acceptSelect[article.id]">
                                    <option value="true">true</option>
                                    <option value="false">false</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-md-12 text-center" ng-show="globals.currentUser.username === 'admin' && vm.reviewerSelect" style="margin-top: 20px">
                <button type="button" ng-click="vm.saveReviewerSelect()" class="btn-lg btn-primary">
                    Lưu
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalComment" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background: #515e56;color: #fff;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bình luận và trả lời</h4>
            </div>
            <div class="modal-body">
                <form id="formComment" ng-submit="vm.commentSubmit()">
                    <div class="form-group">
                        <div class="col-md-12" style="margin-bottom: 15px;">
                            <input type="text" ng-model="vm.title" required
                                   class="form-control" name="title" placeholder="Title comment">
                            <div role="alert">
                              <span class="error" ng-show="form-post.title.$error.required">
                               Yêu cầu nhập!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12" style="margin-bottom: 15px;">
                            <input type="text" ng-model="vm.type" required
                                   class="form-control" name="type" placeholder="Type article">
                            <div role="alert">
                              <span class="error" ng-show="form-post.type.$error.required">
                               Yêu cầu nhập!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12" style="margin-bottom: 15px;">
                            <textarea class="form-control" ng-model="vm.content" rows="5" id="content"
                                      name="content" placeholder="Content comment" required>

                            </textarea>
                            <div role="alert">
                              <span class="error" ng-show="form-post.content.$error.required">
                               Yêu cầu nhập!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12" style="margin-bottom: 15px;">
                            <label class="control-label col-md-3">
                                Phiên bản bài tạp chí
                            </label>
                            <div class="col-md-3" style="margin-bottom: 15px;">
                                <input type="number" ng-model="vm.version" required
                                       class="form-control" min="1" name="version" placeholder="">
                                <div role="alert">
                              <span class="error" ng-show="form-post.version.$error.required">
                               Yêu cầu nhập!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12" style="margin-bottom: 15px;">
                            <div class="col-md-6 no-padding">
                                <input class="inline-block btn btn-primary" type="file" name="file" ng-model="vm.file" data-rule-required="true" id="file"
                                       accept="application/pdf">
                                <div role="alert">
                              <span class="error" ng-show="form-post.file.$error.required">
                               Yêu cầu nhập!</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-danger" ng-click="vm.file = null" ng-show="vm.file">Xóa</button>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Lưu</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    </div>
                </form>

            </div>

        </div>

    </div>
</div>
