<div id="mainContainer" class="container">
    <div class="page-header">
        <h1 class="blue">User Information</h1>
    </div>
    <div class="col-md-12">
        <table ng-table="vm.listUser" class="table table-condensed table-bordered table-striped">
            <tr ng-repeat="user in $data">
                <td data-title="'User Name'" filter="{username: 'text'}" sortable="'username'">{{user.username}}</td>
                <td data-title="'Last Name'" filter="{lastname: 'text'}" sortable="'lastname'">{{user.lastname}}</td>
                <td data-title="'First Name'" filter="{firstname: 'text'}" sortable="'firstname'">{{user.firstname}}</td>
                <td data-title="'User Type'" filter="{userType: 'text'}" sortable="'userType'">{{user.userType}}</td>
                <td data-title="''">
                    <button class="btn btn-primary" ng-click="vm.editUser(user)">
                        Edit
                    </button>
                    <button class="btn btn-danger" ng-click="vm.deleteUser(user)">
                        Delete
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalEditUser" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background: #18627a;color: #fff;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit User</h4>
            </div>
            <div class="modal-body">
                <form id="formComment" ng-submit="vm.editSubmit()">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-2 no-padding" style="margin-top: 5px;">User Type:</label>
                            <div class="col-md-4">
                                <select class="form-control" id="category" name="category" ng-model="vm.category">
                                    <option ng-repeat="x in vm.listCategory track by x.id" value="{{x.name}}">{{x.name}}</option>
                                </select>
                            </div>
                            <label class="col-md-2 no-padding" style="margin-top: 5px;" ng-show="vm.category == 'DOC GIA'">Payment:</label>
                            <div class="col-md-4" ng-show="vm.category == 'DOC GIA'">
                                <select class="form-control" id="payment" name="payment" ng-model="vm.money">
                                    <option value="false">No</option>
                                    <option value="true">Yes</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12" style="margin-top: 15px;">
                            <input type="text" ng-model="vm.firstname" required
                                   class="form-control required" name="firstname" placeholder="First name">
                            <div role="alert">
                              <span class="error" ng-show="register-form.firstname.$error.required">
                               Required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12" style="margin-top: 15px;">
                            <input type="text" ng-model="vm.lastname" required
                                   class="form-control required" name="lastname" placeholder="Last name">
                        </div>
                        <div role="alert">
                              <span class="error" ng-show="register-form.lastname.$error.required">
                               Required!</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12" style="margin-top: 15px;">
                            <input type="email" ng-model="vm.email" required
                                   class="form-control required" name="email" placeholder="Email">
                        </div>
                        <div role="alert">
                              <span class="error" ng-show="register-form.email.$error.required">
                               Required!</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12" style="margin-top: 15px;">
                            <input type="type" ng-model="vm.username" readonly="readonly" required
                                   class="form-control required" name="username" placeholder="Username">
                            <div role="alert">
                              <span class="error" ng-show="register-form.username.$error.required">
                               Required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12" style="margin-top: 15px;">
                            <input type="password" ng-model="vm.password" readonly="readonly" required minlength="6" maxlength="16"
                                   class="form-control required" name="password" placeholder="Password">
                            <div role="alert">
                                <span class="error" ng-show="register-form.password.$error.minlength">
                                    Too short!</span>
                                <span class="error" ng-show="register-form.password.$error.maxlength">
                                    Too long!</span>
                                <span class="error" ng-show="register-form.password.$error.required">
                                    Required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix requiredInfo">Required Fields</div>
                    <div class="clearfix"></div>
                    <br>
                    <div class="text-center" style="margin-top: 10px;">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>

            </div>

        </div>

    </div>
</div>
