<div id="mainContainer" class="container">
    <div class="page-header">
        <h1 class="blue">Authors' Registration Form</h1>
    </div>
    <div>
        <div class="row">
            <div class="col-md-8 col-xs-8" style="left: 16%;">
                <div class="row alert alert-danger fix-dialog-bottom"
                     ng-show="vm.msgError">
                    <a href="" class="close" ng-click="vm.msgError=false">&times;</a>
                    <p class="text-center">Username already exists!!! </p>
                    <span></span>
                </div>
                <form id="register-form" ng-submit="vm.register()" method="post" class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" ng-model="vm.firstname" required
                                   class="form-control required" name="firstname" placeholder="First name">
                            <div role="alert">
                              <span class="error" ng-show="register-form.firstname.$error.required">
                               Required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" ng-model="vm.lastname" required
                                   class="form-control required" name="lastname" placeholder="Last name">
                        </div>
                        <div role="alert">
                              <span class="error" ng-show="register-form.lastname.$error.required">
                               Required!</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="email" ng-model="vm.email" required
                                   class="form-control required" name="email" placeholder="Email">
                        </div>
                        <div role="alert">
                              <span class="error" ng-show="register-form.email.$error.required">
                               Required!</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="type" ng-model="vm.username" required
                                   class="form-control required" name="username" placeholder="Username">
                            <div role="alert">
                              <span class="error" ng-show="register-form.username.$error.required">
                               Required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="password" ng-model="vm.password" required minlength="6" maxlength="16"
                                   class="form-control required" name="password" placeholder="Password">
                            <div role="alert">
                                <span class="error" ng-show="register-form.password.$error.minlength">
                                    Too short!</span>
                                <span class="error" ng-show="register-form.password.$error.maxlength">
                                    Too long!</span>
                                <span class="error" ng-show="register-form.password.$error.required">
                                    Required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix requiredInfo">Required Fields</div>
                    <div class="clearfix"></div>
                    <br>
                    <div class="form-group text-center col-sm-12">
                        <button type="submit" name="submit_author" class="btn btn-success">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- /row -->
</div>